name: CI/CD Pipeline 

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  TEST_TAG: vladimirrakovskii/devops-example-app:test 

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build app for testing (load locally)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile 
          load: true
          tags: ${{ env.TEST_TAG }}

      - name: Lint Dockerfiles (optional)
        run: make compose-lint-ci 

      - name: Run tests with compose
        run: make compose-test-ci  # Ваш Makefile: docker-compose up --build app

      - name: Build and push app (latest)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: vladimirrakovskii/devops-example-app:latest

      - name: Build and push caddy
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./services/caddy/Dockerfile
          push: true
          tags: vladimirrakovskii/devops-example-caddy:latest
